<!DOCTYPE html>
<html>
<head>
	<title> Channels </title>
</head>
<body>

	<div>
		<form action="/api/test-channel" method="post">
			<input type="checkbox" name="protfolio" id="protfolio" > <label for="protfolio"> Protfolio </label> <br>
			<input type="checkbox" name="leaderboard" id="leaderboard"> <label for="leaderboard"> Leaderboard </label> <br> 
			<input type="checkbox" name="ticker" id="ticker"> <label for="ticker"> Ticker </label> <br>
			<input type="checkbox" name="graph" id="graph"> <label for="graph"> Graph </label>  <br>
			<input type="checkbox" name="nifty" id="nifty"> <label for="nifty"> Nifty </label>  <br>
			<input type="checkbox" name="sell" id="sell"> <label for="sell"> Sell </label>  <br>
			<input type="submit" name="submit">
		</form>
	</div>

</body>
</html>