
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html class="menu-active">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">

        <meta name="description" content="Violate Responsive Admin Template">
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

        <title>PlayDotExcel | Excel 2016</title>
            
        <!-- CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/animate.min.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/587a024497.js"></script>
        <link href="/static/css/form.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/icons.css" rel="stylesheet"> 

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/reconnecting-websocket.min.js"></script>
        <script src="/static/js/dalalbull.js"></script>


    </head>
    <body id="skin-blur-night">
        <header id="header" class="media">
            <img class="logo pull-left" src="/static/img/logo/logo-mec.png" style="width: 146px;margin-left: 10px;height: 92px;margin-top: -14px;">
            <div class="media-body">
                <div class="media" id="top-menu">
                    <a class="pull-right" style="padding-top:15px;">
                        <img class="profile-pic animated" src="/static/img/dp/profile-pic.jpg" alt=""> 
                        <span>Malinda Hollaway</span>
                    </a>
                    <div class="pull-right tm-icon" style="padding-top:15px;">
                        <a data-drawer="messages" >
                            <i class="sa-top-message"></i>
                            <span>Sign Out</span>
                        </a>
                    </div>
                    <div class="pull-right tm-icon" style="padding-top:15px;">
                        <a data-drawer="notifications" class="drawer-toggle" >
                            <i class="sa-top-updates"></i>
                            <i class="n-count animated">9</i>
                            <span>Notifications</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="clearfix" style="padding-top:1px;"></div>
        <div id="up-arrow">
            <img id="up" src="/static/img/arrows.svg" height="32px" width="32px">
        </div>
        <div id="dock">
                <img class="gameicon" id="home" src="/static/img/icon/leaderboard.svg" width="45">
                <img class="gameicon" id="dalalbull" src="/static/img/icon/dalal.svg" width="45">
                <img class="gameicon" id="kryptos" src="/static/img/icon/kryptos.svg" width="45">
                <img class="gameicon" id="hackmaster" src="/static/img/icon/hackmaster.svg" width="45">
                <img class="gameicon" id="include" src="/static/img/icon/nclude.svg" width="45">
                <img class="gameicon" id="binbash" src="/static/img/icon/binbash.svg" width="45">
                <img class="gameicon" id="techgeek" src="/static/img/icon/techgeek.svg" width="45">
                <img class="gameicon" id="about" src="/static/img/icon/leaderboard.svg" width="45">
        </div>
        
        <section id="main" class="p-relative" role="main">
        
            <!-- Content -->
            <section id="content" class="container">
                
                <!-- Notification Drawer -->
                <div id="notifications" class="tile drawer animated">
                    <div class="listview narrow">
                        <div class="media">
                            <a >Notification Settings</a>
                            <span class="drawer-close">&times;</span>
                        </div>
                        <div class="overflow" style="height: 254px">
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="/static/img/profile-pics/1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Nadin Jackson - 2 Hours ago</small><br>
                                    <a class="t-overflow" >Mauris consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="/static/img/profile-pics/2.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">David Villa - 5 Hours ago</small><br>
                                    <a class="t-overflow" >Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="/static/img/profile-pics/3.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Harris worgon - On 15/12/2013</small><br>
                                    <a class="t-overflow" >Maecenas venenatis enim condimentum ultrices fringilla. Nulla eget libero rhoncus, bibendum diam eleifend, vulputate mi. Fusce non nibh pulvinar, ornare turpis id</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="/static/img/profile-pics/4.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Mitch Bradberry - On 14/12/2013</small><br>
                                    <a class="t-overflow" >Phasellus interdum felis enim, eu bibendum ipsum tristique vitae. Phasellus feugiat massa orci, sed viverra felis aliquet quis. Curabitur vel blandit odio. Vestibulum sagittis quis sem sit amet tristique.</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="/static/img/profile-pics/1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Nadin Jackson - On 15/12/2013</small><br>
                                    <a class="t-overflow" >Ipsum wintoo consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="whiter tick" style="display:none;">
            
                
                
                
                <div id="main-games">





















                </div>
                
                
                
                
                
                
            </section>
        </section>


        
        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script src="/static/js/jquery.min.js"></script> <!-- jQuery Library -->
        <script src="/static/js/jquery-ui.min.js"></script> <!-- jQuery UI -->
        <script src="/static/js/jquery.easing.1.3.js"></script> <!-- jQuery Easing - Requirred for Lightbox + Pie Charts-->
        <script src="/static/js/ticker.js"></script>

        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.min.js"></script>
        
        <!--Charts-->
        <script src="/static/js/charts/jquery.flot.js"></script> 
        <script src="/static/js/charts/jquery.flot.time.js"></script> 
        <script src="/static/js/charts/jquery.flot.animator.min.js"></script> 
        <script src="/static/js/charts/jquery.flot.resize.min.js"></script>
        
        <!-- All JS functions -->
        <script src="/static/js/functions.js"></script>
    </body>
</html>
