<!DOCTYPE html>
<html>
<head>
	<title>Binbash</title>
	<script type="text/javascript">
		(function(window, location) {
		 history.replaceState(null, document.title, location.pathname+"#!/stealingyourhistory");
		 history.pushState(null, document.title, location.pathname);
	 
		 window.addEventListener("popstate", function() {
		   if(location.hash === "#!/stealingyourhistory") {
				 history.replaceState(null, document.title, location.pathname);
				 setTimeout(function(){
				   location.replace(window.location.href);
				 },0);
		   }
		 }, false);
	 }(window, location));
	</script>
	<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
				width: 50%;
				height: 75%;
				float: right;
    }
</style>

</head>


<body>
	<h3>{{question}}</h3>
	<form action="" method="POST"  >
		{% csrf_token %}
		<textarea cols="40" rows="20" name="code">{{partCode}}</textarea>
		<input type="submit" value="Execute" name="execute"/>
		<input type="submit" value="Save" name="save"/>
	</form>
	<form action="" method="POST"  >
		{% csrf_token %}
		<input type="text" name="term"/>
		<input type="submit" value="Command" name="save"/>
	</form>

	<strong>{{termOut}}</strong>
</body>